* {
  box-sizing: border-box;
}

 body {
  margin: 0;
 }

 .site-title {
  font-size: 30px;
 }

 .nav {
  background-color: lightgray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
 }

 .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
 }

 .nav a {
  color: inherit;
  text-decoration: none;
  /* height: 100%; */
  display: flex;
  align-items: center;
  padding: .25rem;
 }

 .nav li:hover {
  background-color: gray;
 }

 .card {
  text-align: center;
  margin-top: 50px;
 }

 form {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px 0px;
    width: 100%;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
 }

 label {
  width: 30%;
  padding-right: 100px;
  font-weight: bold;
  font-size: 18px;
}

input,
textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 100%;
    width: 60%;
    font-size: 18px;
    margin-top: 50px;
}

.inputButton {
  padding: 5px 15px;
    background-color: #049dbf;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    width: 200px;
}

.a-post{
  align-items: center;
  width: 40%;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-left: 30%;
  margin-bottom: 50px;
}

.comment{
    align-items: center;
    width: 80%;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 50px;
}
